//Imports of compoent styling
@import "./breakpoints";
//fonts// 
:root {
    --headlineFont: 'Philosopher', sans-serif;
    --paragraphFont: 'Barlow', sans-serif;
}

* {
    margin: 0;
   
}


.App {
    box-sizing: border-box;
    width: 100%;
    background: #F0EDEE;
 
    h1,h2,h3 {
        font-family: var(--headlineFont);
    }
    p,a, button {
        font-family: var(--paragraphFont);
    }

    a:hover {
        color: #ffeb9c;
        cursor: pointer;
    }
    button:hover {
        cursor: pointer;
    }
}

nav {
    align-items: center;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: rgba(38, 38, 37, 0.357);
    backdrop-filter: blur(2px);
    .nav-wrap {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        position: relative;

        ul {
            display: none;
            opacity: 0;
            margin-right: 25px;
            transform: translateX(40px);
            animation: menuinline 400ms  cubic-bezier(0.11, 0, 0.5, 0) forwards;

            @keyframes menuinline {
                from {
                    opacity: 0;
                    transform: translateX(40px);
                }
                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            li {
                padding: 5px 10px;
                list-style: none;
               
                a {
                    color: white;
                    text-decoration: none;
                }
            }
           
            @include m {
                display: flex;
            }
        }
        i{
            color: white;
            font-size: 30px;

            @include m {
                display: none;
            }
        }
    }
}

.header {
    // background-image: url(/public/images/bg-vizsla-02.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.252), rgba(0, 0, 0, 0.252)), url(/public/images/bg-vizsla-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    padding-top: 100px;
    color: white;
  
   .header-wrap {
    padding: 10px 0px;
    padding-left: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 18.4659)), 150px);
    padding-right: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 18.4659)), 150px);
    h1{
        text-align: left;
       font-size: clamp(32px, calc(2rem + ((1vw - 3.2px) * 5.1136)), 68px);
      
    }
    h2 {
        position: relative;
        margin-top: 35px;
        text-align: right;
        font-size: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 4.2614)), 54px);
    }

    p {
        max-width: 200px;
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: 20px;
    }}
}


.about {
    width: 100%;
    text-align: center;
    margin-top: 50px;
   
    
    .about-wrap {
        padding: 10px 20px;
        max-width: 500px;
        margin: 0 auto;
        .quick-about {
            margin-top: 35px;
            width: 100%;
            display: flex;
            div {
                width: clamp(190px, calc(11.875rem + ((1vw - 3.2px) * 2.8409)), 210px);
                height: clamp(190px, calc(11.875rem + ((1vw - 3.2px) * 2.8409)), 210px);
                border-radius: 100px;
                margin: 0 auto;
                
            }
           
            .owner-img {
                // background-image: url(/public/images/owner-img-01.jpg);
                background-position: center;
                background-size: cover;
            }

            
        }
        p{
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: clamp(257px, calc(16.0625rem + ((1vw - 3.2px) * 20.3125)), 400px);
        }
    }
}

.banner {
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.252), rgba(0, 0, 0, 0.252)), url(/public/images/bg-vizsla-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 205px;
    text-align: center;
    color: white;
    .banner-wrap {
        padding: 10px 20px;

        p {
            width: 140px;
            margin: 0 auto;
            margin-top: 40px;
        }
        button {
            margin-top: 20px;
            border: none;
            padding: 5px 35px;
            border-radius: 4px;
        }
    }
}


footer {
    width: 100%;
    background-color: #CF5C36;
    color: white;
    
    .footer-grid-wrap {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        width: min(max(200px, calc(12.5rem + ((1vw - 2.1px) * 49.14))), 600px);
        margin: 0 auto;
                a {
                    text-decoration: none;
                    color: white;
                    padding: 3px 5px;
                    
                } 
               
            }
   .i-05 {
    text-align: center;
    grid-row-start: 3;
    grid-column: span 2;
    width: clamp(100px, calc(6.25rem + ((1vw - 0.5px) * 12.3203)), 220px);
    min-height: 0vw;
    margin: 0 auto;

    @include sm {
        grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
    }
    i{
        margin: 10px;
    }
   }
    .i-03 {
        grid-row-start: 2;
        grid-column-start: 1;

        @include sm {
            grid-column-start: 2;
            grid-row-start: 1;
        }
    }

   .i-04 {
    grid-row-start: 2;
    grid-column-start: 2;
 
   }
       
   .i-02 {
    @include sm {
        grid-column-start: 1;
    }
   }
}
        

        .menu {
            width: 100vw;
            height: 100vh;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            z-index: 90;
            background-color: #CF5C36;
            overflow: hidden;
            display: none;
          
            .menu-wrap {
                
                .btn-wrap {
                    width: 100%;
                    height: 50px;
                }
                i {
              
                    font-size: 32px;
                    color: white;
                    float: right;
                    margin: 10px 20px;
                   
                }

                ul {
                    padding: 0;
                    text-align: center;
                    color: white;
                    font-size: 28px;
                }

                li {
                    padding: 20px 0;
                    text-decoration: none;
                    list-style: none;
                 
                }

                .cat-wrap {
                    transform: translateY(0);
           
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 0;
                    }
                }
                

            

               .subcat-show {
                li {
                    display: block;
                    
                }
               }

            }
        }

        .menu-active {
           
            display: block;
           
           
        }
       
       

        .contact-wrap {
            position: sticky;
            background-color: white;
            width: 100%;
            height: 100vh;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 98;
            text-align: center;
            display: none;
            margin-top: -60px;
            transform: translateX(0x);
            overflow: hidden;

            form {
                min-width: 260px;
                display: grid;
                gap: 10px;
                grid-template-columns: 1fr 1fr;
                width: 300px;
                margin: 0 auto;
                padding: 10px 10px 60px 10px;
                justify-items: center;
            }

            .col-span {
                grid-column: span 2;
            }
            .i-class {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;

                i {
                    font-size: 34px;
                    padding: 15px;
                
                }
            }
            

          
            h3 {
                padding-top: 50px;
                padding-bottom: 20px;
                font-size: 32px;
            }
            label {
                font-size: 12px;
               
            
            }
            .nameemailwrap {
                display: flex;
                

            }
            input {
                border: none;
                background-color: #EAEBEC;
            }
             .a {
                    width: 120px;
                    height: 30px;
                }
            .b {
                    width: 120px;
                    height: 30px;
                }

            .c {
                    width: 280px;
                    height: 220px;
                    border: none;
                    background-color: #EAEBEC;
            }

            button {
                width: 110px;
                height: 52px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                 margin: 0 auto;
                border: none;
                
            }

            .send-btn {
                background-color: #EFC88B;
            }
        }

        .open-contactpanel {
            display: block;

            animation: contactopen 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;

            @keyframes contactopen {
                from {
                    transform: translateX(-1000px);
                }
                to {
                    transform: translateX(0px);
                }
            }
        }


   

    .container-wrap {
        padding: 0 10px;
        max-width: 500px;
        margin: 0 auto;
  
    }


    .ourdogs {
        width: 100%;
        background-color: #EAEBEC;
     

       .header {
        height: 250px;
        margin-bottom: 40px;
    
        p {
            font-size: 2.75rem;
            font-size: clamp(2.75rem, 2rem + 4.166666666666666vw, 4rem);
            text-align: left;
            margin-left: 40px;
        }
        .makesmall {
            font-size: 20px;
            vertical-align: middle;
        }
       }
       .dogcard {
        display:flex;
        align-items: flex-start;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        
     
        p {
            font-size: 18px;
            margin: 0 auto;
           }
        .img-box {
            background-color: black;
            width: 210px;
            height: 180px;
            border-radius: 5px;
        }
        .info-box {
           width: 100%;
            margin-left: 20px;
        }
        button {
            min-width: 80px;
            height: 40px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
            background-color: #EFC88B;
            color: white;
            margin-top: 20px;
            width: 100%; 
            max-width: 120px;
        }
       }
    }

    hr {
        border: 0;
    border-bottom: 3px dotted rgb(36, 36, 36);
    margin: 30px  25px;
    }


    .dogprofile {
        display: none;
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0;
        left: 0 ;
        right: 0;
        height: 100%;
       overflow-y: scroll;
        z-index: 20;
       
      //might need to REVISE this.
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 40px;
        }
        .header {
            height: 300px;
            position: relative;
            i {
                position: absolute;
                left: 0;
                top: 10%;
                font-size: 32px;
                margin:  0px 20px;
            }
            p {
                font-size: 28px;
                color: white;
                text-align: left;
                margin: 0px 20px;
                
            }

            p:last-child {
                font-size: 30px;
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 20px 20px;
            }
        }

        p {
            color: black;
            text-align: center;
        }

        
        .bold-li {
            font-weight: 600;
            width: 200px;
            margin: 4px 0;
            text-align: left;
        }

        .grid-layout {
            display: grid;
            gap: 1.25rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
           
            min-width: none;
            margin: 0 auto;
            padding: 10px;
            padding-bottom: 35px;
            @include sm {
                max-width: 500px;
            }
        }

        .grid-col-span {
            grid-column: span 2;
        }

        
        .box01 {
            text-align: center;
            background-color: #D3D5D7;
            border-radius: 8px;
            padding: 10px;
            color: rgb(31, 31, 31);
            min-width: 100px;
           
            ul {
                padding: 0;
               text-align: left;
            }
            li {
                list-style: none;
                margin: 10px 15px;
              p {
                display: inline;
                margin: 0px 10px;
              } 

            }
            .hc-box {
                display: flex;
                gap: 30px;

               a, button {
                display: none;
                }
                @include m {

                    a {
                        align-self: center;
                        display: block;
                        text-decoration: none;
                        button {
                            margin: 0px 10px;
                            display: block;
                        }
                    }

                }
              
            }

        
            .-result {
                font-weight: 400;
                margin-left: 10px;
            }

        }

        .box02 {
            background-color: #D3D5D7 ;
            padding: 20px;
            border-radius: 8px;
            min-width: 120px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            
            @include sm {
                
                max-width: 350px;
            }

            ul {
                padding: 0;
            }
            li {
                margin: 10px 0px;
                list-style: none;
                p {
                    display: inline;
                    margin-left: 10px;
                     font-weight: 400;
                  } 
            }
            .bold-li {
                font-weight: 600;
            }
        }

        .box03 {
            width: 100%;
            height: 350px;
            background-color: #a9adb1;
            grid-row: span 3;
            
            border-radius: 8px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }

        .box04 {
            text-align: center;
        }
        button {
           margin: 3px 0px;
           width: 100%;
            min-width: 110px;
            height: 48px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
            background-color: #2E2C2F;
            color: white;

            @include sm {
              max-width: 200px;
            }
        }

        button:last-child {
            background-color: #EFC88B;
        }

    }

    .open-dogprofile {
        display: block;
    }


